.TodoCard{
    background-color: rgb(60, 33, 0);
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5vh solid;
    border-radius: 100vh;

}
.TodoContent{
    display: inline-flex;
    flex: auto;
    
}
.Done p{
    color: rgb(70, 70, 70);
    text-decoration: line-through;
}
.TodoContent p{
    padding-left: 2vh;
    font-size: 3vh;
}



.TodoButtonGroup{
    display: inline-flex;
    padding: 0.1vh;

}

.TodoButtonGroup Button{
    margin-right: 0.7vh;
    border-radius: 100vh;
}
