.Loading {
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.FilterTodo{

    width: 95%;
    padding: 1vh;
    margin: 1vh;
}

.TodoList{
    padding-top: 40px;
}
